@define-color close-bg #fb4934;
@define-color close-bg-hover #cc241d;
@define-color bg-selected rgb(0, 128, 255);
@define-color clear-all-bg #1d2021;
@define-color clear-all-border-color #ffffff;
@define-color clear-all-bg-hover #b8bb26;
@define-color clear-all-bg-focus rgba(27, 27, 27, 0.6);
@define-color fg-main #ebdbb2;
@define-color bg-main #282828;
@define-color bg-secondary #3c3836;
@define-color hover-bg-main #b8bb26;
@define-color dnd-bg #282828;
@define-color dnd-active #b8bb26;
@define-color notif-border #a89984;
@define-color notif-border #7c6f64;

* {
  font-family: 'Jetbrains Mono Nerd Font';
  font-weight: bold;
}

.control-center {
  background-color: @bg-main;
  border-radius: 5px;
  padding: 8px;
  border: 2px solid @notif-border;
}

.widget-dnd,
.widget-title,
.widget-volume,
.widget-mpris,
.widget-buttons-grid>flowbox>flowboxchild>button,
.widget-buttons-grid {
  background-color: @bg-secondary;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 4px 0;
}

.notification {
  background: @bg-main;
  border: 1px solid @notif-border;
  border-radius: 4px;
  padding: 7px;
}

.notification-group {
  background-color: transparent;
  outline: none;
}

.notification-content {
  background: @bg-main;
}

.close-button {
  background: @close-bg;
  color: @bg-main;
  text-shadow: none;
  padding: 0px;
  /* border-radius: 5px; */
  margin-top: 6px;
  margin-right: 0px;
}

.notification-default-action:hover,
.notification-action:hover {
  color: #7aa2f7;
  background: @bg-main;
}

.widget-title>label,
.widget-dnd>label {
  font-size: 14px;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  min-width: 54px;
  min-height: 15px;
  background-color: @bg-main;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @hover-bg-main;
  color: @bg-main;
}

.widget-volume {
  background: @bg-secondary;
  /* padding: 4px 8px; */
  /* margin: 4px 8px 0px 8px; */
  /* border-radius: 4px; */
  font-size: 1.4rem;
  color: @fg-main;
}

.widget-volume scale trough highlight {
  background-color: @hover-bg-main;
}
